*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* header */
.header{
    display: flex;
}
/* nav bar */
.logo-container{
    display: flex;
    width: 7%;
}
.logo-kanda{
    width: 100%;
    display: flex;
    align-items: center;
}
nav{
    background-color: rgb(239, 223, 255);
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    top: 0;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
nav ul li{
    margin: 0 10px;
}
.nav1:hover{
    color: #6B5C78;
}
a{
    text-decoration: none;
    color: black;
}
.busqueda{
    border: 0px;
    height: 10px;
    padding: 10px 18px;
    font-size: 13px;
    border-radius: 30px;
    outline: none;
}
.cart-container{
    display: flex;
    width: 1.6%;
}
.cart-logo{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Menú desplegable (Productos) */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9eafd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}
.dropdown-content a:hover {
    background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}


/* MENÚ */
#paragraph{
    font-size: 50px;
}
main{
    background-image: url(/images/fondo-kanda-muffin.jpeg);
    height: auto;
}

.presentacion{
    text-align: center;
    font-size: 18px;
    padding: 20px;
    color: #231942;
}
.video1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-titulos{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding: 20px 0 20px 0;
}

/* Grid index */
.cont-grid-index{
    display: grid;
    margin: 0px 200px;
    grid-template-columns: repeat( 4, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 20px;
}
.img-cont-card-index a img{
    width: 100%;
    border-radius: 7px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.contenedor-overlay {
    position: relative; 
    width: 100%;
}
.contenedor-overlay:hover .overlay {
    opacity: 1;
}
.overlay-text-card {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #6b5c78e1;
    border-radius: 7px;
}
.overlay p{
    font-size: 20px;
}
.contactanos-index-cont p{
    background-color: #6b5c78bb;
    padding: 2px;
    font-size: 18px;
    text-align: center;
    margin: 40px 0 20px 0;
}

.cont-logos-index{
    display: flex;
    justify-content: center;
    width: 100%;
}
.fb-cont-index{
    padding: 8px;
    width: 3%;
}
.fb-cont-index a img{
    width: 100%;
}
.ig-cont-index{
    padding: 8px;
    width:3%;
}
.ig-cont-index a img{
    width: 100%;
}
.wsp-cont-index{
    padding: 8px;
    width: 3%;
}
.wsp-cont-index a img{
    width: 100%;
}
/* Envíos - medios de pago - compra segura*/
.seccion-envios{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 0px 0px 40px 0px;
}
.cont-index-logos{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.cont-img-index-envio{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-img-index-envio img{
    width: 28%;
}
.cont-texto-index p{
    text-align: center;
    font-size: 12px;
}
.cont-img-index-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.cont-img-index-card img{
    width: 20%;
}
.cont-img-index-lock{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.cont-img-index-lock img{
    width: 28%;
}

/* PRODUCTOS */
/* Grid productos */
.contenedor-grid1{
    display: grid;
    margin: 0 200px;
    grid-template-columns: repeat( 4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}
.contenedor-grid2{
    display: grid;
    margin: 0 200px;
    grid-template-columns: repeat( 4, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 20px;
}
.contenedor-grid3{
    display: grid;
    margin: 0 200px;
    grid-template-columns: repeat( 4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}
.contenedor-card{
    background-color: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.menu-titulos-productos{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding: 20px 0 20px 0;
}
.menu-titulos-productos p{
    background-color: #996dc05d;
    padding: 0px 0 4px 0;
}
.img-container a img{
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px ;
}
.img-container a img:hover{
    transition-duration: 0.4s;
    opacity: 0.85;
}
.texto-container{
    display: flex;
    flex-direction: column;
    height: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.titulo-card a:hover{
    text-decoration: underline;
    color: #231942;
}
.titulo-card{
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 2px;
    font-size: 14px;
}
.descripcion-card{
padding: 7px; 
}
.descripcion-card p{
    text-align: center;
    font-size: 12px;
}
.precio-card{
    display: flex;
    justify-content: center;
    font-weight: bold; 
    font-size: 14px;
}
.precio-card p{
    margin-bottom: 8px;
}

/* DETAIL */
.detail-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 60px 0px;
}
.cont-detail-img{
    display: flex;
    justify-content: center;
    width: 22%;
}
.cont-detail-img img{
    width: 100%;
    border: 3px solid white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.titulo-detail{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
    padding: 10px 0 0px 0;
}
.descripcion-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18%;
    margin-top: 4px;
}
.descripcion-detail p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.cont-detail-precio{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.cont-detail-precio p{
    font-size: 20px;
    color: #6B5C78;
}
.cont-detail-cantidad{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-detail-cantidad div p{
    margin-right: 5px;
}
.cont-quantity{
    margin-left: 5px;
}
.cont-quantity input{
    width: 35px;
    border: 0px;
    height: 10px;
    padding: 8px 0px 8px 10px;
    font-size: 12px;
    border-radius: 20px;
    outline: none;
}
.cont-detail-addtocart{
    display: flex;
    justify-content: center;
    padding: 10px;
    
}
.cont-detail-addtocart input{
    width: 100%;
    border: none;
    color: #231942;
    font-weight: bold;
    background-color: rgb(239, 223, 255);
    padding: 8px 30px 8px 30px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.cont-detail-addtocart input:hover{
    transition-duration: 0.4 ;
    opacity: 0.85;
}

/* NOSOTROS */
.nosotros-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.cont-card-nosotros{
    display: block;
}
.img-nos-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
}
.img-nos-cont img{
    width: 30%;
    border: 6px solid whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.nos-text-cont{
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nos-text-cont p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    padding: 2px;
}

.video1{
    padding-bottom: 30px;
}

/* CONTACTO */
/* FORMULARIO */
.cont-formulario{
    display: flex;
    align-items: center;
    justify-content: center;
}
form label { 
    width: auto;
    font-size: 14px;
    display:block;
    margin-top:20px;
    margin-left: 9px;
    letter-spacing:1px;
}
.principal {
    display:block;
    margin:0 auto;
    width:510px;
    color: #ffffff;
    font-family:Arial;
}
.datos{
    width:300px;
    height: 11px;
    background:#ffffff;
    border:2px solid #ffffff;
    padding:10px;
    margin-top:5px;
    font-size: 13px;
    color:rgb(51, 16, 54);
    border-radius: 20px;
    outline: none;
}
form {
    width:324px;
}
.textArea{
    width:300px;
    height: 100px;
    background:#ffffff;
    border:2px solid #ffffff;
    padding:10px;
    margin-top:5px;
    font-size: 13px;
    color:rgb(51, 16, 54);
    border-radius: 20px;
    outline: none;
}
.boton-form-cont{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.submit {
    background-color: #ffffff;
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    cursor:pointer;
    border-radius: 20px;
}

/* logo wsp flotante  */
.wsp-logo{
    width: 2.3%;
    position: fixed;
    bottom: 15px;
    right: 15px;
}
/* FOOTER */
footer{
    background-color: rgb(239, 223, 255);
}
.contenedor-footer{
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
}
.footer-navegacion-cont{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.footer-navegacion{
    display: flex;
    justify-content: flex-start;
    padding: 0 5px;
    margin-bottom: 9px;
}
.footer-navegacion p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 12px;
}
.footer-list{
    display: flex;
    justify-content: flex-start;
}
.footer-list ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer-list ul a li{
    list-style: none;
    padding: 0 5px;
    margin-bottom: 6px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 450;
    font-size: 13px;
}
.footer-list ul a li:hover{
    text-decoration-line: underline;
}
.p-footer{
    display: flex;
    justify-content: center;
}
.p-footer p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
}
.footer-redes-cont{
    width: 15%;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}
.cont-tar-cred{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}
.cont-grid-t-cred{
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 6px;
}
.cont-img1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-img2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.cont-img1 img{
    width: 50%;
}
.cont-img2 img{
    width: 50%;
}

/* logos footer */
.cont-logos{
    display: flex;
    justify-content: flex-start;
    margin: 0 5px;
}
.wsp-cont{
    width: 12.9%;
}
.wsp-cont a img{
    width: 100%;
}
.fb-cont{
    width: 12%; 
    margin-left: 3px; 
}
.fb-cont a img{
    width: 100%;
}
.ig-cont{
    width: 12.1%;
    margin: 0 10px;
}
.ig-cont a img{
    width: 100%;
}
.contenedor-contacto{
    display: flex;
    flex-direction: column;
}
.cont-mail{
    display: flex; 
}
.cont-mail div{
    display: flex;
    align-items: center;
    width: 10%;
    margin-left: 3px;
    margin-bottom: 8px;
}
.cont-mail div p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11.5px;
    margin-left: 3px;
}
.cont-mail div img{
    width: 100%;
}
.cont-cel{
    display: flex; 
}
.cont-cel div{
    display: flex;
    align-items: center;
    width: 11%;
    margin-left: 3px;
    margin-bottom: 8px;
}
.cont-cel div p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11.5px;
    margin-left: 3px;
    text-align: start;
}
.cont-cel div img{
    width: 100%;
}

/* Responsive */
/* Mobile */
@media screen and (max-width: 767px){    
    nav{
    display: none;
    }
    .cart-container{
        display: none;
    }
    /* menu hamburguesa */
    .menu-hamburguesa-container{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:rgb(239, 223, 255);
    box-sizing: border-box;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .menu-hamburguesa-container ul li{
        text-decoration: none;
        list-style: none;
    }
    .menu-hamburguesa-container img{
        width: 8%;
    }
    .logo-container-mobile{
        width: 100%;
    }
    .logo-container-mobile img{
        width: 50px;
        margin-left: 3px;
    }
    .bar-btn{
        margin-right: 20px;
        color: black;
        cursor:pointer;
    }
    .nav-menu{
        position: fixed;
        width: 100%;
        height: 10px;
        top:45px;
        background:rgba(239, 223, 255, 0.918);
        text-align: center;
        transition: all 0.5s;
    }
    .nav-menu li{
        display: none;
        line-height: 10px;
        margin: 30px 60px 30px 60px;
        transition: all 0.5s;
        text-align: center;
    }
    .nav-menu li a{
        
        color: rgb(102, 27, 112);
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
    }
    .nav-menu li a.active{
        color: #231942;
        transition: 0.3s;
    }
    #check{
        display: none;
    }
    #check:checked ~ .nav-menu{
        height: 100vh;
    }
    #check:checked ~ .nav-menu li{
        display: block;
    }
    /* index */
    .menu-titulos p{
        font-size: 17px;
    }
    .cont-grid-index{
    width: 90%;
    }
    .cont-grid-index{
        margin: 0;
        grid-template-columns: repeat( 1, 1fr);
        grid-template-rows: repeat(4, auto);
        gap: 10px;
    }
    .contenedor-grid-mobile{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .titulo-mobile{
        text-align: center;
        background-color: #9d7eb8ce;
        
        border-radius: 7px;
    }
    .titulo-mobile p{
        color: #f1f1f1;
    }
    .seccion-envios{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .cont-logos-index{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .fb-cont-index{
        padding: 8px;
        width: 8%;
    }
    .fb-cont-index a img{
        width: 100%;
    }
    .ig-cont-index{
        padding: 8px;
        width:8%;
    }
    .ig-cont-index a img{
        width: 100%;
    }
    .wsp-cont-index{
        padding: 8px;
        width: 8%;
    }
    .wsp-cont-index a img{
        width: 100%;
    }
    /* grid productos */
    .contenedor-grid-productos{
        width: 96%;
        margin: 8px 8px 8px 7px;
        display: block;
        justify-content: center;
        align-items: center;
    }
    .contenedor-grid1{
        width: 100%;
        margin: 8px 0  8px 0;
        display: inline-block;
        justify-content: center;
    
    }
    .contenedor-grid2{
        width: 100%;
        margin: 8px 0  8px 0;
        display: block;
    }
    .contenedor-grid3{
        width: 100%;
        margin: 8px 0  8px 0;
        display: block;
    }
    .contenedor-card{
        margin: 12px 0  12px 0;
    }
    /* detail */
    .cont-detail-img{
        width: 70%;
    }
    .descripcion-detail{
        width: 70%;
    }
    .video1{
        width: 100%;
    }
    /* nosotros */
    .nosotros-container{
        width: 100%;
        margin: 0;
    }
    .cont-card-nosotros{
        margin-bottom: 15px;
    }
    .nosotros-container img{
        width: 70%;
    }
    .nos-text-cont{
        width: 90%;
        margin: 0px 8px 0px 8px;
    }
    .nos-text-cont p{
        font-size: 16px;
    }
    /* footer */
    footer{
        height: auto;
    }
    .contenedor-footer{
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(2, auto);
        gap: 8px;
        margin-bottom: 3px;
    }
    .footer-navegacion{
        margin-bottom: 4px;
    }
    .footer-list ul{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .footer-navegacion p{
        font-weight: 500;
        font-size: 11px;
    }
    .footer-list ul a li{
        font-size: 11px;
    }

    .footer-redes-cont{
        width: 70%;
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    .wsp-logo{
        display: none;
    }
    .cont-formulario{
        padding: 25px 0;
    }
    .titulo-tablet{display: none;}
}

/* Tablet */
@media screen and (min-width:768px) and (max-width: 1023px){
    .titulo-mobile, .wsp-logo, .menu-hamburguesa-container{ 
        display: none;
    }
    .contenedor-grid-mobile{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .cont-grid-index{
        width: 90%;
        margin: 0;
    }
    .titulo-tablet{
        text-align: center;
        background-color: #c3acd6e0;
        border-radius: 10px;
        
    }
    .titulo-tablet p{
        padding: 2px;
        color: #231942;
        font-weight: 600;
    }
    .dropdown-content{
        display: none;
    }
    .contenedor-grid1, .contenedor-grid2, .contenedor-grid3{
        margin: 0 12px;
    }
    .nosotros-container{
        width: 100%;
        margin: 0;
    }
    .cont-card-nosotros{
        margin-bottom: 15px;
    }
    .nosotros-container img{
        width: 50%;
    }
    .nos-text-cont{
        width: 90%;
        margin: 0px 10px 0px 10px;
    }
    .nos-text-cont p{
        font-size: 17px;
    }
    .cont-formulario{
        padding-bottom: 120px;
    }
}

@media screen and (min-width: 1024px){
    .menu-hamburguesa-container{
        display: none;
    }
    .titulo-mobile{ 
        display: none;
    }
}