*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* header */
.header{
    display: flex;
    
}

/* nav bar */
.logo-container{
    display: flex;
    width: 7%;
}
.logo-kanda{
    width: 100%;
    display: flex;
    align-items: center;
}
nav{
    background-color: rgb(239, 223, 255);
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    top: 0;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    
    
}

nav ul li{
    margin: 0 10px;
}

.nav1:hover{
    color: #6B5C78;
}


a{
    text-decoration: none;
    color: black;

}
.buscar{
    
    display: flex;
}

.busqueda{
    border: 0px;
    height: 10px;
    padding: 10px 18px;
    font-size: 13px;
    border-radius: 30px;
    outline: none;
}


.cart-container{
    display: flex;
    width: 1.6%;

}
.cart-logo{
    width: 100%;
    display: flex;
    justify-content: center;


}

.titulos{
    color: rgb(51, 16, 54);
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.imagen1{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9eafd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    }

.dropdown-content a:hover {
    background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
    }


/* MENÚ */
main{
    background-image: url(/images/fondo-kanda-muffin.jpeg);
    height: auto;
     /* cambiar tamaño */
}

main h2 {
    text-align: center;
    padding: 20px;
    color: #231942;
}

.video1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-titulos{font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding: 20px 0 20px 0;
/*     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding: 10px; */
}

.menu-titulos p{
    background-color: #996dc05d;
    padding: 0px 0 4px 0;
}

/* seccion envios index */
.seccion-envios{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.cont-index-envios{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.cont-img-index-envio{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-img-index-envio img{
    width: 28%;
}

.cont-texto-index p{
    text-align: center;
    font-size: 12px;
}

.cont-img-index-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.cont-img-index-card img{
    width: 20%;
}
.cont-img-index-lock{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.cont-img-index-lock img{
    width: 28%;
}


/* Grid index */
.cont-grid-index{
    display: grid;
    margin: 0px 200px;
    grid-template-columns: repeat( 4, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 20px;
    
}

.img-cont-card-index img{
    width: 100%;
    border-radius: 7px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.contenedor-overlay {
    position: relative; 
    width: 100%;
}

.contenedor-overlay:hover .overlay {
    opacity: 1;
}

.overlay-text-card {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #6b5c78e1;
    border-radius: 7px;
}

.overlay p{
    font-size: 20px;
}

/* PRODUCTOS */

/* Grid productos */
.contenedor-grid1{
    display: grid;
    margin: 0 200px;
    grid-template-columns: repeat( 4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    
}
.contenedor-grid2{
    display: grid;
    margin: 0 200px;
    grid-template-columns: repeat( 4, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 20px;
    
}
.contenedor-grid3{
    display: grid;
    margin: 0 200px;
    grid-template-columns: repeat( 4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    
}
.contenedor-card{
    background-color: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.menu-titulos-productos{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding: 20px 0 20px 0;
}
.menu-titulos-productos p{
    background-color: #996dc05d;
    padding: 0px 0 4px 0;
}

.img-container a img{
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px ;
}
.img-container a img:hover{
    transition-duration: 0.4s;
    opacity: 0.85;
}
.texto-container{
    display: flex;
    flex-direction: column;
    height: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.titulo-card a:hover{
    text-decoration: underline;
    color: #231942;
}
.titulo-card{
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 2px;
    font-size: 14px;
}

.descripcion-card{
padding: 7px; 
}
.descripcion-card p{
    text-align: center;
    font-size: 12px;
}
.precio-card{
    display: flex;
    justify-content: center;
    font-weight: bold; 
    font-size: 14px;
}
.precio-card p{
    margin-bottom: 8px;
}


/* DETAIL */
.detail-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
.cont-detail-img{
    display: flex;
    justify-content: center;
    width: 30%;

}
.cont-detail-img img{
    width: 100%;
    border: 3px solid white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
.cont-detail-precio{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.cont-detail-precio p{
    font-size: 20px;
    color: #6B5C78;
}
.cont-p{
    margin-right: 4px;
}
.cont-quantity{
    margin-left: 5px;
}
.cont-quantity input{
    width: 35px;
    border: 0px;
    height: 10px;
    padding: 8px 0px 8px 10px;
    font-size: 12px;
    border-radius: 20px;
    outline: none;
}

.cont-detail-cantidad{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-detail-cantidad div p{
    margin-right: 5px;
}

.cont-detail-addtocart{
    display: flex;
    justify-content: center;
    padding: 10px;
    
}
.cont-detail-addtocart input{
    width: 100%;
    border: none;
    color: #231942;
    font-weight: bold;
    background-color: rgb(239, 223, 255);
    padding: 8px 30px 8px 30px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.cont-detail-addtocart input:hover{
    transition-duration: 0.4 ;
    opacity: 0.85;
}


/* NOSOTROS */
.nosotros-container{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.img-nos-cont{
    width: 20%;
    margin-left: 200px;
    margin-right: 80px;
    display: flex;
    justify-content: center;
}
.img-nos-cont img{
    width: 100%;
    border: 6px solid whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    justify-content: center;
}

.nos-text-cont{
    width: 500px;
    margin-right: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nos-text-cont p{
    display: flex;
    justify-content: center;
    
    
}

.img-nos-cont2{
    width: 15%;
    
    margin-right: 200px;
    margin-left: 80px;
    display: flex;
    justify-content: center;
}
.img-nos-cont2 img{
    width: 100%;
    border: 6px solid whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    
}

.nos-text-cont2{
    width: 500px;
    margin-left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.nos-text-cont2 p{
    display: flex;
    
}

/* FORMULARIO */
.cont-formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
label {
    display:block;
    margin-top:20px;
    letter-spacing:1px;
}

.principal {
    display:block;
    margin:0 auto;
    width:510px;
    color: #ffffff;
    font-family:Arial;
}

.datos{
    width:380px;
    height: 15px;
    background:#ffffff;
    border:2px solid #ffffff;
    padding:10px;
    margin-top:5px;
    font-size: 15px;
    color:rgb(51, 16, 54);
    border-radius: 20px;
}

form {
    margin:0 auto;
    width:400px;
}

.textArea{
    width:380px;
    height: 150px;
    background:#ffffff;
    border:2px solid #ffffff;
    padding:10px;
    margin-top:5px;
    font-size: 15px;
    color:rgb(51, 16, 54);
    border-radius: 20px;
}

.boton-form-cont{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.submit {
    background-color: #ffffff;
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    cursor:pointer;
    border-radius: 20px;
}

/* footer */
/* logo wsp flotante  */

.wsp-logo{
    width: 2.3%;
    position: fixed;
    bottom: 15px;
    right: 15px;
    
    /* right: 130px; */
}

footer{
    background-color: rgb(239, 223, 255);
}

.contenedor-footer{
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
}
.footer-navegacion-cont{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.footer-navegacion{
    display: flex;
    justify-content: flex-start;
    padding: 0 5px;
    margin-bottom: 9px;
}
.footer-navegacion h4{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 13px;
    
}
.footer-list{
    display: flex;
    justify-content: flex-start;

}
.footer-list ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer-list ul a li{
    list-style: none;
    padding: 0 5px;
    margin-bottom: 6px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 450;
    font-size: 13px;
}
.footer-list ul a li:hover{
    text-decoration-line: underline;
}

.p-footer{
    display: flex;
    justify-content: center;
}
.p-footer p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
}

.footer-redes-cont{
    width: 15%;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.cont-tar-cred{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}
.cont-grid-t-cred{
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 6px;
    
}
.cont-img1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-img2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.cont-img1 img{
    width: 50%;
}
.cont-img2 img{
    width: 50%;
}

/* logos */
.cont-logos{
    display: flex;
    justify-content: flex-start;
    margin: 0 5px;
    

}
.wsp-cont{
    width: 12.9%;
}
.wsp-cont a img{
    width: 100%;
}
.fb-cont{
    width: 12%; 
    margin-left: 3px; 
}
.fb-cont a img{
    width: 100%;
}
.ig-cont{
    width: 12.1%;
    margin: 0 10px;
}
.ig-cont a img{
    width: 100%;
}

.contenedor-contacto{
    display: flex;
    flex-direction: column;
}

.cont-mail{
    display: flex; 
}

.cont-mail div{
    display: flex;
    align-items: center;
    width: 10%;
    margin-left: 3px;
    margin-bottom: 8px;
}
.cont-mail div p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11.5px;
    margin-left: 3px;

}
.cont-mail div img{
    width: 100%;
}

.cont-cel{
    display: flex; 
}

.cont-cel div{
    display: flex;
    align-items: center;
    width: 11%;
    margin-left: 3px;
    margin-bottom: 8px;
}
.cont-cel div p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11.5px;
    margin-left: 3px;
    text-align: start;
}
.cont-cel div img{
    width: 100%;
}
